@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100..900&family=Russo+One&display=swap');




/* .logo{
    position: absolute;
width: 50px;
height: 50px;

background: url(../img/logo.png);
color: #B1B9CC; 
}

.companyName {
    position: absolute;
    width: 300px;
    height: 29px;
    
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #B1B9CC;

    margin-top: 10px;
};

.navbar {
    position: absolute;
    width: 300px;
    height: 29px;

}

.navBrand {
    margin-left: 50px;
    background-color: #5c6069;
}

.navMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    align-items: center;
    height: 100%;
}
  
.navMenu ul li {
    margin-right: 20px;
    margin-top: 13px;
}
  
.navMenu ul li a {
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    text-align: center;

    color: #B1B9CC;
    text-decoration: none;
}
  
.navMenu ul li a:hover {
    color: #5c6069;
    background-color: #ffffff00;
} */
  
  




@media screen {
    body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
}

/* .content1 {
    position: absolute;
    left: 5%;
    top: 8%;
}

.content1 > .contentTitle {
position: absolute;
width: 420px;
height: 241px;

font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 70px;

color: #FEFEFF;
}

.content1 > .contentContent {
position: absolute;
width: 420px;
height: 78px;
top: 250px;

font-family: 'Courier Prime';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #B1B9CC;


}

.content1 > .contentContent button{
font-family: 'Courier Prime';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 19px;
line-height: 51px;

color: #B1B9CC;
width: 165px;
height: 54px;

background: #101A31;
border-radius: 60px;
border-color: #101a3100;

}

.content2 {
    position: absolute;
    left: 58%;
    top: 70%;
}

.content2 > .contentContent{

position: absolute;
width: 450px;
height: 50px;

font-family: 'Courier Prime';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 22px;
text-align: center;

color: #ebf4f8;


}

.content2 > .contentButton {
    position: absolute;
    top: 80px;
    left: 125px;

}

.content2 > .contentButton button {
    position: absolute;
    width: 200px;
    height: 53px;
    background: #D9D9D9;
    border-radius: 10px;
    border-color: #d9d9d900;
    

    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    line-height: 51px;

    color: #8094C2;



}

.newsImg img {
    width: 500px;
    height: 500px;
    position: fixed;
    top: 100px;
    left: 55%;
    border-radius: 15px;
    right: 0;
  }
  
  .newsBox {
    position: absolute;
    width: 500px;
    height: 50px;

    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: left;

    color: #ebf4f8;

    margin-left: 5%;
    margin-top: 50px;
  } */

  /* .newsDate {
    position: fixed;
    margin-right: 30%;
  } */