@import url(./components/Header/header.css);
@import url(./styles/main.css);
@import url(./components/Main/Main.css);
@import url(./components/News/News.css);
@import url(./components/Blog/Blog.css);
@import url(./components/Register/Register.css);
@import url(./components/Authorization/Authorization.css);
@import url(./components/InputField/InputField.css);
@import url(./components/AddBlogPage/AddBlogPage.css);
@import url(./components/Blogs/Blogs.css);