/* 

.logo{
    position: absolute;
width: 50px;
height: 50px;

background: url(../../img/logo.png);
color: #B1B9CC; 
}

.companyName {
    position: absolute;
    width: 300px;
    height: 29px;
    
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #B1B9CC;

    margin-top: 10px;
};

.navbar {
    position: absolute;
    width: 300px;
    height: 29px;

}

.navBrand {
    margin-left: 50px;
    background-color: #5c6069;
}

.navMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    align-items: center;
    height: 100%;
}
  
.navMenu ul li {
    margin-right: 20px;
    margin-top: 13px;
}
  
.navMenu ul li a {
    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    text-align: center;

    color: #B1B9CC;
    text-decoration: none;
}
  
.navMenu ul li a:hover {
    color: #5c6069;
    background-color: #ffffff00;
}
  
   */