
.apodContent {
    width: 80%;
    margin: 0 auto;
}

.apodBox {
    display: flex;
    font-family: "Courier Prime";
    justify-content: center;
    gap: 34px;
    margin-bottom: 20px;
}
    

.image {
    max-width: 350px;
    max-width: 400px;
    border-radius: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
  }

.apodTitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}

.apodText {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 20px;
    gap: 16px;
    height: 350px;
    width: 670px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    flex-grow: 1;
    line-height: 1.5;
}

.title {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
  }
